@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  color: white;
  background: #192626;
  font-family: var(--font-switzer), Arial, Helvetica, sans-serif;
}

html, body {
  overflow: auto;
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: radial-gradient(circle closest-side,#000 94%,#0000) right/calc(200% - 1em) 100%;
  animation: l24 1s infinite alternate linear;
}
.loader::before {
  content: "";
  line-height: 1em;
  color: #0000;
  background: inherit;
  background-image: radial-gradient(circle closest-side,#fff 94%,#000);
  -webkit-background-clip:text;
          background-clip:text;
}

@keyframes l24{
  100%{background-position: left}
}

.input-group {
  position: relative;
  margin-top: 1.5rem;
}

.input {
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 15px;
}

.user-label {
  position: absolute;
  left: 15px;
  color: #080808;
  pointer-events: none;
  transform: translateY(0.9rem);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), 
              color 150ms cubic-bezier(0.4, 0, 0.2, 1),
              background-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
.input:not(:placeholder-shown) {
  outline: none;
  border: 1.5px solid #1a73e8;
}

.input:focus ~ .user-label,
.input:not(:placeholder-shown) ~ .user-label {
  transform: translateY(-50%) scale(0.8);
  background-color: #ffffff;
  padding: 0 .4em;
  color: #2196f3;
}


.select-group {
  position: relative;
  margin-top: 1.5rem;
}

.select {
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 15px; /* Adjust space for label */
  background-color: white;
  width: 100%;
  border-radius: 8px;
  border: 1.5px solid #dcdcdc;
  appearance: none; /* Removes default styling */
}

.select:focus,
.select:not([value=""]) {  /* Trigger when select has a value */
  outline: none;
  border: 1.5px solid #1a73e8;
}

/* Hide "Powered by Google" */
.goog-logo-link {
  display: none !important;
}

/* Hide extra spans */
.goog-te-gadget span {
  display: none !important;
}

/* Style the dropdown */
.goog-te-gadget {
  position: relative !important;
  overflow: hidden !important;
  width: 180px !important;
  height: 35px !important;
}

/* Style the select dropdown */
.goog-te-gadget select {
  width: 100% !important;
  text-align: left !important;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
  padding: 5px !important;
  background-color: #fff !important;
  color: #333 !important;
  font-size: 14px !important;
  cursor: pointer !important;
}

/* Style the dropdown arrow */
.goog-te-gadget select::-ms-expand {
  display: none; /* Hide the default arrow in IE */
}

.goog-te-gadget select {
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none; /* Remove default arrow in Safari */
  -moz-appearance: none; /* Remove default arrow in Firefox */
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23333%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}


/* Crypto Marquee Container */
.crypto-marquee-container {
  width: 100%;
  overflow: hidden; /* Ensure overflow is hidden */
  white-space: nowrap; /* Prevent wrapping */
  background-color: transparent; /* Dark background for the marquee */
  border-radius: 8px;
}

/* Hide scrollbar for a cleaner look */
.crypto-marquee-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.crypto-marquee-container {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}